/* *, *:before, *:after {
    border: 1px solid red !important;
    } */

body{
    margin: 0px;
    --default-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
}

.container{
    display: flex;
    height: 100%;
    width: 100vw;
}

#left-contents {
    width: 40%;
    height: 100%;

    position: relative;
}

#transparent {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin-text {
    font-size: 100px;
    font-family: 'Norse-Bold';
    color: white;
    margin: 0%;
}

#background {
    width: 100%;
    height: 100%;
}

/*left contents*/
#right-contents{
    background-color:#F5F5F5;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
    
    
    --padding-space: 100px;
    --margin-space: 50px; 
}
#text{
    margin-left: var(--margin-space);
    font-weight: bolder;
    padding-right: 150px;
    font-family: var(--default-font-family);
    margin-bottom: 70px;
}


/*form*/
form{
    margin-bottom: 25px;
}

#white-part{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px #BEBEBE;
    display: flex;
    flex-direction: column;
    padding-left: var(--margin-space);
    gap: 20px;
}


legend {
    font-family: var(--default-font-family);
    font-weight: bolder;
}

.sides{
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-flow: wrap;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right{
    flex-wrap: wrap;
}

.sides>div>div{
    display: flex;
    flex-direction: column;
}

label{
    font-family: var(--default-font-family);
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

input{
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

button {
    margin-left: var(--margin-space);
    margin-top: 40px;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    border-width: 0px;
    font-weight: bold;
    font-size: 12px;
    background-color: #596D48;
    color:white;
}

/*Login text */

#right-contents>p {
    font-family: var(--default-font-family);
    margin-left: var(--margin-space);
    font-size: 15px;
}

a {
    color: #596D48;
}


/*pseudo classes*/

input:focus {
    border: 1px solid blue; 
    box-shadow: 2px 2px 2px #BEBEBE;
 }

.pass:invalid {
   border: 1px solid red; 
}


/*custom font declaration*/
@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

